
body {
    background-image: url("../images/squared_metal_@2X.png");
 
}

.container {
    font-family: 'Raleway', sans-serif;
}

#welcome-sign {
    padding-top: 10px;
}

.welcome {
    color: rgb(170, 9, 9);
    font-family: 'Vast Shadow', cursive;
    margin-top: 30px;
    margin-left: 0px;
    justify-content: left !important;
    padding-right: 160px;
    width: 100%;
}

.btn-danger.sign-in {
    margin-right: 10px ;
}

.sign-up-box {
    float: left !important;
    overflow: auto !important;
    margin-top: 24px !important;
}

.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    height: 100%;
    background-color:rgba(2, 19, 43, 0.705);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
}

.jumbotron, h1{
    color: rgb(170, 9, 9);
    text-align: center;
    font-family: 'Vast Shadow', cursive;
    font-size: 50px !important;
}
img {
    height: 50%;
    width: 50%;
}

#inputCategory {
    width: 40%;
    height: 62px;
    font-size: 30px;
}

#inputLocation {
    height: 62px;
    font-size: 30px;
    float: left;
    width: 50%;
}

#searchBtn {
    border-radius: 10px;
}

.input-location {
    height: 62px;
    font-size: 30px;
    float: left;
    width: 50%;
}

.row.form-group {
    margin-left: -15px !important;
}

#map {
    width: 100%;
    height: 500px;
    background: yellow;
}

#myBtn { 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#fb6806;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    
}
#myBtn:hover {
    background-color:#d61111;
}
.imgMeta, .dataMeta{
    float: left;
}

.dataMeta{
    position: absolute;
    margin-left: 350px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 10px !important;
}

.form-control {
    border-radius: 10px !important;
    overflow: hidden !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    resize: none;
}

.btn-primary {
    color: #fff;
    background-color: rgba(215, 30, 30, 1) !important;
    border-radius: 10px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.btn-primary:hover {
    background-color: rgb(168, 49, 49) !important;
}

label, .octicon-flame {
    color: red;
    fill: red;
}

td {
    color: black;
    margin-left: 10%;
}
#map {
    width: 100%;
    height: 500px;
    background: yellow;
}

h1  {
    color: rgb(170, 9, 9);
    margin-left: 10%;
    font-size: 50px;
    font-weight: 900 !important;
    position: relative;
    bottom: 20px;
}

h2 {
    margin-left: 10%;
    
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600 !important;
    position: relative;
    bottom: 20px;
}

h3 {
    color: rgb(170, 9, 9);
    margin-left: 10%;
    font-size: 25px;
    font-weight: 500 !important;
    position: relative;
    bottom: 20px;
}

h4 {
    margin-left: 10%;
    font-size: 25px;
    font-weight: 900 !important;
    position: relative;
    color: rgb(0, 0, 0) !important;
    bottom: 20px;
}
p {
    color: rgb(170, 9, 9);
    font-size: 30px;
    font-weight: 500 !important;
}
.srcImg {
    margin-right: 20px;
}

#map{
    border-radius: 10px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}

#myCarousel{
    border-radius: 10px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}
@media screen and (max-width: 790px) {
    h4 { display: none; }   /* hide it elsewhere */
  }
  @media screen and (max-width: 480px) {
    h2 { display: none; }   /* hide it elsewhere */
  }
  @media screen and (max-width: 330px) {
    h1,h3 { display: none; }   /* hide it elsewhere */
 }

 .card-body {
     padding-top: 0 !important;
     overflow:hidden;
 }
 .fa-heart {
     color:red;
     position:relative;
     bottom:40px;
     left:5px;
     cursor: pointer;
     font-size:30px;
     overflow:hidden;
 }
