
/*.carousel-item {
    width: auto;
    height: 300px;
    max-height: 300px;
}*/

body {
    background-color: rgb(5, 103, 133) !important;   
}

.container {
    font-family: 'Raleway', sans-serif;
}

img {
    height: 50%;
    width: 50%;
}

img:hover {
    transform: scale(1.18);
    transition: all .8s ease;
  }
  
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:rgb(215, 30, 30);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    
}

#formInput, #formFood{
    margin-top: 5px;
    margin-bottom: 5px;
}

#myBtn:hover {
    background-color:#fb6806;
}
.imgMeta, .dataMeta{
    float: left;
}

.dataMeta{
    position: absolute;
    margin-left: 350px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 10px !important;
}

.form-control {
    border-radius: 10px !important;
    overflow: hidden !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    resize: none;
}

.btn-primary {
    color: #fff;
    background-color: rgba(215, 30, 30, 1) !important;
    /* border-color: rgba(215, 30, 30, 1) !important; */
    border-radius: 10px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}


.btn-primary:hover {
    background-color: rgb(168, 49, 49) !important;
}

label, .octicon-flame {
color: red;
fill: red;
}

td {
    color: black;
    margin-left: 10%;
}


.content-row {
    border: 1px solid #ced4da !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}

h1  {
    /* padding-right: 10%;
    font-weight: 10%; */
    margin-left: 10%;
    font-size: 50px;
    font-weight: 900 !important;
    position: relative;
    bottom: 20px;
}

h2 {
    margin-left: 10%;
    
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600 !important;
    position: relative;
    bottom: 20px;
}

h3 {
    margin-left: 10%;
    font-size: 25px;
    font-weight: 500 !important;
    position: relative;
    bottom: 20px;
}

h4 {
    margin-left: 10%;
    font-size: 25px;
    font-weight: 900 !important;
    position: relative;
    bottom: 20px;
}
p {
    font-size: 25px;
    font-weight: 500 !important;
}
.srcImg {
    margin-right: 20px;
}

#map{
    border-radius: 10px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}

#myCarousel{
    border-radius: 10px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}
@media screen and (max-width: 790px) {
    h4 { display: none; }   /* hide it elsewhere */
  }
  @media screen and (max-width: 480px) {
    h2 { display: none; }   /* hide it elsewhere */
  }
  @media screen and (max-width: 330px) {
    h1,h3 { display: none; }   /* hide it elsewhere */
 }

